<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message from <%= @name %></h1>
    <p>
      Reply to them at <%= @email %>
      <br>
    </p>
    <p>
      They wanted to say: <%= @msg %>.
    </p>
  </body>
</html>